# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.bing-wallpaper.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\mysrc\bing-wallpaper\.idea\.idea.bing-wallpaper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
